{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block body %}
<h2>creation article</h2>
    {{ form_start(formArticle) }}
    {{ form_row(formArticle.title, {'attr': {'placeholder': "titre de l'article"}}) }}
    {{ form_row(formArticle.content, {'attr': {'placeholder': "contenu"}}) }}
    {{ form_row(formArticle.image, {'attr': {'placeholder': "url de l'image"}}) }}
    <button type="submit" class="btn btn-success">Ajouter article</button>
    {{ form_end(formArticle) }}
{% endblock %}

