{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - show
{% endblock %}

{% block body %}
        <article class="card">
            <img src="{{ article.image }}" class="card-img-top" alt="">
            <div class="content card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <div class="metadata">
                    Ecrit le {{ article.createdAt | date('d/m/Y')}} a {{ article.createdAt | date('H:i') }} dans la categorie {{ article.category.title }}.
                </div>
                <p class="card-text"></p>
                <a href="{{ path('blog') }}" class="btn btn-primary">Retour aux articles</a>
                <a class="nav-link" href="{{ path('blog_edit', {'id': article.id}) }}">Modifier un article</a>
            </div>
        </article>

    <section class="comentaires">
        <h3>Commentaires ({{ article.comments | length }})</h3>
        <ul class="list-group list-group-flush">
        {% for comment in article.comments %}
            <li class="list-group-item">
            <div class="comment">
                <div class="row">
                    <div class="col-3 text-primary">
                        <p class="font-weight-bolder">{{ comment.author }}</p>  (<small>{{ comment.createdAt | date('d/m/Y a H:i') }}</small>)
                    </div>
                    <div class="col-9">
                        <p class="text-secondary">{{ comment.content | raw }}</p>
                    </div>
                </div>
            </div>
            </li>
        {% endfor %}
        </ul>
        {% if app.user %}
            {{ form_start(formComment) }}
            {{ form_widget(formComment) }}
            <button type="submit" class="btn btn-success">
                Ajouter
            </button>
            {{ form_end(formComment) }}
        {% endif %}
    </section>



{% endblock %}
